body {
background-image: url("CircaSpeak.png");
background-repeat: no-repeat;
margin: auto;
padding: 10px;
justify-content:center;
}
#title {
text-shadow:5px 5px grey;
font-family: Arial;
font-size: 96px;
margin: auto;
align-text:center;
justify-content: center;
}
#subTitle {
font-family: Arial;
font-size: 48px;
margin: auto;
align-text: center;
justify-content: center;
}
.rcorners1 {
font-family:Arial;
box-shadow: 10px 10px rgba(0,0,0,0.5);
border-radius: 25px;
background-color: #73ad21;
padding: 20px;
width:20%;
margin: auto;
}
.rcorners2 {
box-shadow: 10px 10px rgba(0,0,0,0.5);
background-color: #FAFAFA;
border-radius: 25px;
padding: 20px;
width:50%;
margin: auto;
align-content:center;
justify-content: center;
}
input:focus {
border-style: solid;
border-width: 5px;
border-radius: 5px;
}
input:hover {
border-style: solid;
border-width: 5px;
border-radius: 5px;
}
input {
    margin-right:auto;
    display:block;
    max-width: 80%;
}
#signIn {
background-color:#62911D;
color: white;
border-style:solid;
border-radius:5px;
border-color:#62911D; 
max-width: 50px;
        margin-left: auto;
    margin-right:auto;
   /* display:block; */
}
#info {
    display:none;
}
.rcorners2:hover #info {
    display:inline-flex;
}
#go {
    float: right;
    color: white;
    background-color:#62911D;
    border-radius: 5px;
}
#btnLogout {
    border-color:#62911D;
    background-color:#62911D;
    color:white;
    font-family: Arial;
    border-style: solid;
    border-radius:7px;
    max-width:10%;
    margin: auto;
}

